@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.secoundimg {
  animation: slideUp 3s ease-in-out forwards; /* Adjust the animation duration and timing function */
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-30%);
  }
}

.first-img {
  position: absolute;
}

.secound-img {
  height: 500px;
  width: 800px;
}

#preloader {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #fff; Background color of the preloader */
  background-color: #f5dcbe;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease;
  flex-flow: column;
}

/* CSS for the fade-in animation */
.preload-image {
  opacity: 0;
  transition: opacity 1s ease;
}

.preload-image.show {
  opacity: 1;
}

.autoplay {
  height: 100%;
  width: 100%;
}

.autoplay .slick-arrow {
  display: none;
}

#show-bar {
  width: 100%;
  height: 100vh;
  background-color: #f5dcbe;
  z-index: 99;
  left: 0;
  position: absolute;
  opacity: 0;
  top: 0;
  transform: translateY(-100%);
  transition: 0.5s;
}

#show-bar.show {
  opacity: 1;
  transform: none;
}

.show-bar-wrap {
  display: flex;
  justify-content: space-between;
}

.show-card1 {
  height: 100%;
  width: 22%;
  background-color: #f1f1f1;
  /* border: 2px solid black; */
}

.showBanner img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.show-card2 {
  height: 60%;
  width: 30%;
  /* border: 2px solid black; */
  /* margin-top: 10%; */
  display: flex;
}

.show-card2 span {
  display: flex;
  flex-flow: column;
  color: black;
  font-size: 4.5vw;
  transition: transform 0.2s;
  transform-origin: left center;
}

.show-card2 span:hover {
  transform: rotateX(-90deg);
}

.show-angle-card1 span {
  font-size: 4vw;
  padding-top: 130px;
  padding-right: 14px;
}

.angle-text {
  height: 40px;
  width: 60%;
  object-fit: contain;
  margin-top: 45px;
  margin-bottom: 30px;
}

.show-card3 {
  height: 60%;
  width: 25%;
  margin-top: 13%;
  /* border: 2px solid black; */
  display: flex;
  flex-flow: column;
  margin-right: 70px;
}

.navi_bnarImg {
  height: 100%;
  width: 100%;
  padding-bottom: 70px;
}
.navi-heading {
  display: flex;
  flex-flow: column;
  /* border: 2px solid red; */
  width: 70%;
  margin-left: 25%;
}
.navi-icon {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.insta-icon {
  display: flex;
  padding-top: 30px;
  margin-left: 25%;
}
.logo-insta {
  height: 18px;
  width: 20px;
  object-fit: contain;
}
.text-insta {
  height: 18px;
  width: 58%;
  object-fit: contain;
  margin-left: 10px;
}

.navi_bnarImg img {
  height: 40%;
  width: 95%;
  border-radius: 7px;
}

.navi-icon i:hover {
  animation: moveLeftRight1 0.5s infinite alternate;
}

@keyframes moveLeftRight1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}

/* topic PAge  */

.topic1 {
  /* height: 150vh; */
  width: 100%;
  background-color: #f5dcbe;
  margin: 0px auto;
  display: flex;
  position: relative;

  justify-content: center;
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
  overflow-y: hidden;
}

.header {
  z-index: 99;
  height: 10px;
  width: 100%;
  /* height: fit-content; */
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.header img {
  position: relative;
  height: 420px;
  width: 400px;
  object-fit: cover;
  bottom: 90px;
  right: 30px;
}
.header span {
  height: fit-content;
  /* padding: 15px 11px; */
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 72px 70px;
  letter-spacing: 1px;
}

.footer-bottom1 {
  position: absolute;
  /* background-color: antiquewhite; */
  width: 80%;
  line-height: 80px;
  bottom: 2%;
  left: 4%;
}
.footer-bottom-btn button {
  position: absolute;
  bottom: 3%;
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 50%;
  border: none;
  right: 5%;
}
.footer-bottom-btn button i {
  /* background-color: none; */

  color: white;
  font-size: 50px;
}

.footer-bottom-btn button:hover i {
  transform: translateX(-20px);
  transition: transform 0.3s ease;
}

.footer-heading {
  display: flex;
  justify-content: center;
}

.footer-txt1 {
  height: 100%;
  width: 86%;
  object-fit: contain;
}
.footer-txt2 {
  font-size: 1vw;
  letter-spacing: 1px;
  font-weight: 500;
}

.footer-heading {
  display: flex;
  flex-direction: column;
}

.card2 img {
  width: 100%;
  height: 100%;
}

.footer1 {
  display: flex;
  width: 70%;
  justify-content: center;
  flex-flow: column;
  line-height: 70px;
}

.menu-sze1 {
  font-size: 25px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.menu-sze2 {
  font-size: 6.5vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.menu-sze3 {
  font-size: 12vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.menu-sze4 {
  font-size: 11vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transform: rotate(50deg);
  display: inline-block;
}

/* Banner2 section  */

.hidden {
  opacity: 0;
  transition: opacity 6s ease-in-out, transform 1s ease-in-out;
  transform: translateY(-400px);
}

/* 
.hidden-up {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(-400px);
}

.hidden-down {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(400px);
} */

.banner2-section {
  background-color: #f5dcbe;
  overflow: hidden;
  flex-flow: column;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 78%;
  /* border: 2px solid black; */
}
.container2 {
  width: 100%;
  /* border: 1px solid black; */
}

.image-wrap {
  height: 70vw;
  width: 100%;
  /* margin-bottom: 40px; */
  padding-top: 200px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.text-wrap {
  /* height: 255px; */
  object-fit: contain;
  color: black;

  width: 555px;
}
.text-wrap2 {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.text-wrap2 .scrolleddir1 {
  transform: translateY(-70px);
  transition: transform 0.5s;
}

.text-wrap2 .scrolledup1 {
  transform: translateY(70px);
  transition: transform 0.5s;
}

.text-card2 img {
  height: 550px;
  width: 280px;
  object-fit: contain;
}

.text-card1 {
  display: flex;
  flex-flow: column;
  line-height: 50px;
  font-weight: 500;
}

.text-card-wrap1 img {
  height: 600px;
  width: 400px;
  object-fit: cover;
  position: absolute;
  left: -190px;
}
.text-card-wrap2 img {
  height: 600px;
  width: 400px;
  object-fit: contain;
  /* position: absolute; */
  /* left: -170px; */
}

.text-card-wrap2 {
  display: flex;
  flex-flow: column;
  width: 50%;
  text-align: end;
  padding-bottom: 200px;
}

.text-smart {
  font-size: 3vw;
  font-weight: bold;
  display: flex;
  justify-content: end;
  line-height: 55px;
  /* margin-bottom: 15px; */
}
.text-wrap3 {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}

.video-wrap {
  /* height: 70vh; */
  width: 100%;
  position: relative;
}

.black-media {
  /* height: 1000px; */
  position: relative;
  width: 100%;
}
.helo-text {
  color: white;
  background-color: red;
  font-size: 30px;
}
.video-heading-block12
{
  display: none;
}
.video-heading1 {
  position: absolute;
  top: -2.5%;
  font-weight: 100;
  /* left: 10%; */
  /* transform: translate(-50%, -50%); */
  /* color: rgb(3, 3, 3); */
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  z-index: 1;
  font-size: 7.5vw;
  letter-spacing: 3px;
}

.play-btn {
  position: absolute;
  bottom: 10%;
  right: 6%;
  padding: 32px 21px;
  font-size: 28px;
  /* font-weight: bold; */
  border-radius: 80px;
  color: white;
  background-color: black;
  border: none;
  z-index: 1;
}

.play-btn-span {
  background-color: white;
  color: black;
  padding: 20px 30px;
  border-radius: 50%;
  margin-left: 38px;
}

.play-btn-span:hover i {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

/* topic section  */

.topic {
  /* height: 150vh; */
  width: 100%;
  background-color: #f5dcbe;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-top: 140px;
  padding-bottom: 150px;
  flex-flow: column;
}

.topic-span {
  font-size: 30px;
}

.topic-crousal img {
  object-fit: cover;
}

.card-wrap {
  margin-bottom: 20px;
  background-color: white;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: transform 0.3s ease;
}
.card-wrap:hover {
  transform: scale(0.9);
}

.card-wrap-head {
  font-size: 20px;
}

.cardItem p {
  line-height: 30px;
  margin-top: 20px;
}
.card-wrap-date {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.727);
}
.card-wrap img {
  height: 200px;
  width: 400px;
}
.slick-next {
  color: black;
  background-color: aquamarine;
}

.topic-footer {
  display: flex;
  padding-top: 50px;
  /* gap: 35px; */
  justify-content: space-between;
}
.topic-footer1 {
  display: flex;
  padding-top: 20px;
}

.topic-footer1 img {
  border-radius: 20px;

  width: 48%;
  height: 135px;
}
.topic-footer img {
  height: 135px;
  width: 48%;
  border-radius: 10px;
}

.cardItem {
  margin: 0px 20px;
}
.multiple-items {
  position: relative;
}
.slick-arrow {
  position: absolute !important;
  top: -50px !important;
}
.slick-arrow:before {
  position: relative;
  color: none !important;
}
.slick-prev {
  left: auto !important;
  right: 60px !important;
  margin: 0px 30px;
}
.slick-next {
  left: auto !important;
  right: 50px !important;
}
.slick-prev:before {
  font-size: 30px !important;
  color: black !important;
  /* background-color: red !important; */
}
.slick-next::before {
  font-size: 30px !important;
  color: black !important;
}

/* About section  */

.about {
  /* height: fit-content; */
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5dcbe;
  padding-top: 83px;
  padding-bottom: 21px;
}
.topic-wrap2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}
.topic-wrap2-img img {
  object-fit: contain;
  width: 350px;
}

.topic-wrap2-span {
  width: 45%;
  padding: 2px;
  /* line-height: 16px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px; */
}

.topic-wrap2-span span {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 25px;
}
.topic-wrap-about span {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.about-card {
  /* height: 150vh; */
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.about-card-sidebar img {
  height: 70%;
  object-fit: contain;
  width: 100%;
}
.about-card-div {
  height: fit-content;
  width: 80%;
  /* border: 2px solid black; */
  display: flex;
  padding: 50px 0px;
}
.root-card {
  border-radius: 20px;
  height: 100%;
  width: 50%;
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  line-height: 40px;
  padding: 10px;
}
.root-card img {
  height: 120px;
  width: 250px;
}
.keep-card {
  height: 100%;
  width: 50%;
  border: 2px solid black;
}

.root-span3 {
  font-size: 14px;
  padding: 10px 30px;
  line-height: 30px;
}
.root-span4 {
  font-size: 9px;
  padding: 16px 63px;
  line-height: 20px;
  font-weight: 500;
  padding-bottom: 45px;
  color: rgba(172, 152, 72, 0.582);
}
.root-span41 {
  font-size: 12px;
  padding: 16px 97px;
  line-height: 20px;
  font-weight: 500;
  padding-bottom: 45px;
  color: black;
}

.root-span42 {
  font-size: 14px;
  padding: 17px 66px;
  line-height: 20px;
  font-weight: 500;
  padding-bottom: 45px;
  color: black;
}
.root-span1 {
  font-size: 25px;
  padding-top: 30px;
}
.root-span2 {
  font-size: 15px;
}

/* brand cunsultant   */
.brand-consultant-section {
  display: flex;
  justify-content: center;
  /* flex-flow: column; */
}

.brand-consultant {
  /* height: 60vh; */
  padding: 30px;
  width: 86%;
  display: flex;
  border-radius: 17px;
  border: 1px solid black;
  justify-content: space-between;
  border: none;
  margin-top: 80px;
  background-color: white;
  margin-bottom: 100px;
}
.brand1 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand1 img {
  object-fit: contain;
  margin-right: 81px;
}

.brand2 {
  padding: 10px;
  /* height: 60vh; */
  /* border: 1px solid black; */
  width: 78%;
  margin-right: 30px;
}
.brand2 img {
  object-fit: contain;
  width: 230px;
  padding-bottom: 10px;
}
.brand2-wrap {
  display: flex;
  align-items: center;
}
.brnad2-profile img {
  height: 145px;
  width: 135px;
  border-radius: 50%;
  object-fit: contain;
}
.brnad2-span {
  padding: 20px 20px;
  display: flex;
  flex-flow: column;
}
.brnad2-span span {
  line-height: 23px;
  font-size: 12px;
  padding-bottom: 5px;
  font-weight: 500;
}

.brand2-wrap {
  border-top: 1px solid black;
}
.abt-btn {
  position: relative;
  float: right;
  bottom: 40px;
  right: 46px;
  /* font-weight: bold; */
  font-family: sans-serif;
}
.right-arrow {
  padding: 8px 12px;
  background-color: black;
  color: white;
  border-radius: 50%;
}

.right-arrow:hover {
  background-color: white;
  color: black;
}

.right-arrow:hover i {
  transform: translateX(-8px);
  transition: transform 0.3s ease;
}


/* smart Scale   */



/* Section Five */
.section-5{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 130vh;
  background:  #f5dcbe;
  overflow: hidden;
}

.s-5-bottle{
  position: absolute;
  display: flex;
  width: 18%;
  bottom: -10%;
  transform: rotate(-5deg);
  z-index: 100;
}

.move {
  display: flex;
  position: absolute;
  height: 25%;
  overflow: hidden;
  width: 100%;
}

.marque {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding-right: 5rem;
}

.marque h1 {
  font-size: 7rem;
  opacity: 0.4;
}

h1 span {
  display: inline-block; /* For GSAP animation */
  overflow: hidden;
  padding-right: .6rem;
}

@media (min-width: 320px) and (max-width: 450px){
  .section-5{
      /* border: 1px solid black; */
  }
  .s-5-bottle{
      width: 45%;
      bottom: 0;
  }
  .move{

  }
  .marque{

  }
  .marque h1{

  }
  h1 span{

  }
}




















/* .smart-scale {

  width: 100%;
  flex-flow: column;
  background-color: #f5dcbe;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 190px 0px;
  position: relative;
}
.marque-direction {
  position: absolute;
}

.logo.is-animetion {
  margin-top: 0.6em;
}

.logo.is-animetion span {
  display: inline-block;
  animation: wave-text 3.5s ease-in-out infinite;
}

.logo span {
  font-size: 95px;
  color: rgba(0, 0, 0, 0.711);
}

.logo.is-animetion {
  span:nth-of-type(1) {
    animation-delay: 0s;
  }
  span:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  span:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  span:nth-of-type(4) {
    animation-delay: 0.3s;
  }
  span:nth-of-type(5) {
    animation-delay: 0.4s;
  }
  span:nth-of-type(6) {
    animation-delay: 0.5s;
  }
  span:nth-of-type(7) {
    animation-delay: 0.6s;
  }
  span:nth-of-type(8) {
    animation-delay: 0.7s;
  }
  span:nth-of-type(9) {
    animation-delay: 0.8s;
  }
  span:nth-of-type(10) {
    animation-delay: 0.5s;
  }
  span:nth-of-type(11) {
    animation-delay: 0.1s;
  }
  span:nth-of-type(12) {
    animation-delay: 0.1s;
  }
  span:nth-of-type(13) {
    animation-delay: 0.2s;
  }
  span:nth-of-type(14) {
    animation-delay: 0.3s;
  }
  span:nth-of-type(15) {
    animation-delay: 0.6s;
  }
  span:nth-of-type(16) {
    animation-delay: 0.8s;
  }
}

@keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.7em);
  }
  100% {
    transform: translateY(0em);
  }
}

.logo.is-animetion {
  margin-top: 0.6em;
  animation: move-left 7s linear infinite;
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-90vw);
  }
} */

/* smart scale card animation  */
/* 
.image-container {
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.5s ease;
}
.img {
  position: relative;
  height: 36vw;
}
.container2-smartscale {
  display: flex;
}

.image-1 {
  position: relative;
  transform: rotateZ(0deg);
  transition: transform 0.7s ease, opacity 0.3s ease;
  transform-origin: bottom center;
  left: 34%;
}

.scrolled1A {
  transform: rotateZ(-20deg);
  top: -11px;
}

.image-3 {
  position: relative;
  transform: rotateZ(0deg);
  transition: transform 0.7s ease, opacity 0.3s ease;
  transform-origin: bottom center;
  right: 33%;
}

.scrolled3A {
  transform: rotateZ(20deg);
  top: -11px;
} */

/* move the container in down up position  */

/* .image-container.scrolleddir {
  transform: translateY(-200px);
  transition: transform 2s ease;
}

.image-container.scrolledup {
  transform: translateY(160px);
  transition: transform 1s ease;
} */





/* About Section */
/* 
.target-element1 {
  position: relative;
  left: 20px;
  transform: rotate(0deg);
  opacity: 1;
  transition: transform 1s ease, opacity 0.3s ease;
  transform-origin: bottom left;
}

.scrolled1 {
  animation: moveRight1 2s ease forwards;
  opacity: 0.7;
}

@keyframes moveRight1 {
  0% {
    transform: rotateZ(0deg) translateX(0);
  }
  25% {
    transform: rotateZ(-6deg) translateY(0);
  }
  50% {
    transform: rotateZ(-4deg) translateY(-30px);
  }
  100% {
    transform: rotateZ(0) translateX(30px) translateY(-30px);
  }
}

.scrolled1-reverse {
  animation: moveLeft-reverse1 2s ease forwards;
  opacity: 1;
}

@keyframes moveLeft-reverse1 {
  0% {
    transform: rotateZ(0) translateX(30px) translateY(-30px);
  }
  25% {
    transform: rotateZ(-4deg) translateY(-30px);
  }
  50% {
    transform: rotateZ(-6deg) translateY(0);
  }
  100% {
    transform: rotateZ(0deg) translateX(0);
  }
}

.target-element2 {
  position: relative;
  bottom: 30px;
  opacity: 0.7;
  transform: rotate(0deg);
  transition: tranform 0.2s ease, opacity 0.3s ease;
  transform-origin: bottom right;
}

.scrolled2 {
  animation: moveLeft1 2s ease forwards;
  opacity: 1;
}

@keyframes moveLeft1 {
  0% {
    transform: rotateZ(0deg) translateX(0);
  }
  25% {
    transform: rotateZ(6deg) translateY(0);
  }
  50% {
    transform: rotateZ(4deg) translateY(40px);
  }
  100% {
    transform: rotateZ(0) translateX(30px) translateY(30px);
  }
}

.scrolled2-reverse {
  animation: moveRight-reverse2 2s ease forwards;
  opacity: 0.7;
}

@keyframes moveRight-reverse2 {
  0% {
    transform: rotateZ(0) translateX(30px) translateY(30px);
  }
  25% {
    transform: rotateZ(4deg) translateY(40px);
  }
  50% {
    transform: rotateZ(6deg) translateY(0);
  }
  100% {
    transform: rotateZ(0deg) translateX(0);
  }
}

.target-element3 {
  position: relative;
  left: 30px;
  transform: rotate(0deg);
  opacity: 0.7;
  transition: transform 1s ease, opacity 0.3s ease;
  transform-origin: bottom left;
}

.scrolled3 {
  animation: moveRight2 2s ease forwards;
  opacity: 1;
}

@keyframes moveRight2 {
  0% {
    transform: rotateZ(0deg) translateX(0);
  }
  25% {
    transform: rotateZ(-6deg) translateY(0);
  }
  50% {
    transform: rotateZ(-4deg) translateY(-30px);
  }
  100% {
    transform: rotateZ(0) translateX(30px) translateY(-30px);
  }
}

.scrolled3-reverse {
  animation: moveLeft-reverse3 2s ease forwards;
  opacity: 0.7;
}

@keyframes moveLeft-reverse3 {
  0% {
    transform: rotateZ(0) translateX(30px) translateY(-30px);
  }
  25% {
    transform: rotateZ(-4deg) translateY(-30px);
  }
  50% {
    transform: rotateZ(-6deg) translateY(0);
  }
  100% {
    transform: rotateZ(0deg) translateX(0);
  }
}

.target-element4 {
  position: relative;
  bottom: 30px;
  opacity: 1;
  transform: rotate(0deg);
  transition: tranform 0.2s ease, opacity 0.3s ease;
  transform-origin: bottom right;
}

.scrolled4 {
  animation: moveLeft1 2s ease forwards;
  opacity: 0.7;
}

@keyframes moveLeft1 {
  0% {
    transform: rotateZ(0deg) translateX(0);
  }
  25% {
    transform: rotateZ(6deg) translateY(0);
  }
  50% {
    transform: rotateZ(4deg) translateY(40px);
  }
  100% {
    transform: rotateZ(0) translateX(30px) translateY(30px);
  }
}

.scrolled4-reverse {
  animation: moveRight-reverse4 2s ease forwards;
  opacity: 1;
}

@keyframes moveRight-reverse4 {
  0% {
    transform: rotateZ(0) translateX(30px) translateY(30px);
  }
  25% {
    transform: rotateZ(4deg) translateY(40px);
  }
  50% {
    transform: rotateZ(6deg) translateY(0);
  }
  100% {
    transform: rotateZ(0deg) translateX(0);
  }
} */



/* Section Six */
.section-6{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  background:  #f5dcbe;
}

.s-6-up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 78%;
}

.about{
  width: 12%;
}

.features{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.features_lead{
  width: 35%;
}

.features_text{
  display: flex;
  width: 45%;
  font-size: 0.8rem;
  line-height: 1.3rem;
  text-align: justify;
  letter-spacing: 1px;
  font-weight: 500;
}

@media (min-width: 320px) and (max-width: 450px){
  .s-6-up{
      gap: 1.5rem;
  }
  .about{
      width: 30%;
  }
  .features{
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
  }
  .features_lead{
      width: 80%;
  }
  .features_text{
      width: 100%;
      padding-left: 4rem;
      line-height: 1.7rem;
  }
}

.s-6-mid{
  position: relative;
  /* top: -4rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 220vh;
}

.s-6-middle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.mid-img{
  width: 5%;
}

.mid-cards{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.mid-1-card, .mid-2-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 0;
  gap: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mid-1-card{
  position: absolute;
  width: 47%;
  height: 70%;
}

.card-1{
  top: 15%;
  left: 5%;
  z-index: 100;
}

.card-2{
  top: 5%;
  right: 5%;
  opacity: 0.7;
}

.mid-2-card{
  position: absolute;
  width: 45%;
  height: 75%;
}

.card-3{
  top: 7%;
  left: 6%;
  opacity: 0.7;
}

.card-4{
  right: 6%;
}

.active, .care{
  width: 50%;
}

.care-text, .active-text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.circle-img{
  object-fit: cover;
  width: 15rem;
  height: 7.5rem;
}

.card-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 0.8rem;
  padding: 10px 20px;
  font-weight: 600;
  line-height: 1.4rem;
  opacity: 0.7;
}

.card-bottom{
  display: flex;
  width: 90%;
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 0.7;
  text-align: justify;
}

@media (min-width: 320px) and (max-width: 450px){
  .s-6-mid{
      width: 100%;
  }
  .mid-img{
      display: none;
  }
  .mid-cards{
      width: 100%;  
  }
  .mid-1-cards{
      height: 76%;
  }
  .mid-2-cards{
      height: 77%;
  }
  .mid-1-card, .mid-2-card{
      width: 90%;
  }
  .circle-img-mid-1{
      width: 10rem;
      height: 5rem;
  }
  .circle-img-mid-2{
      width: 8rem;
      height: 5rem;
  }
  .card-detail{
      width: 65%;
      font-size: 0.6rem;
      line-height: 1rem;
  }
  .card-bottom{
      width: 80%;
      font-size: 0.6rem;
  }
}

.s-6-bottom{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 80%;
}

.about-card{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 4.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 4rem;
  margin-right: 5rem;
}

.card-img-left{
  width: 21%;
}

.card-img-left-hide{
  display: none;
}

.card-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  gap: 2rem;
}

.card-title{
  width: 45%;
  padding-top: 1rem;
}

.a-card-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-body-img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.card-bottom-detail{
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
}

.card-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
}

.card-desc{
  display: flex;
  justify-content: center;
  text-align: justify;
  width: 100%;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.7rem;
}

.s-6-about{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  gap: 0.8rem;
  cursor: pointer;
  margin-right: 5rem;
}

.s-6-about-head{
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: 500;
  font-size: 1.1rem;
}

.s-6-about-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: #000000;
  border-radius: 50%;
  transition: 0.3s ease;
}

.s-6-about-icon i{
  color: #ffffff;
  transition: color 0.3s ease;
}

.s-6-about:hover .s-6-about-icon{
  background: #ffffff;
}

.s-6-about:hover .s-6-about-icon i{
  color: #000000;
}

@media (min-width: 320px) and (max-width: 450px){
  .about-card{
      height: 80%;
      width: 100%;
      padding: 1rem;
      margin-bottom: 2rem;
      margin-right: 0;
  }
  .card-img-left{
      display: none;
  }
  .card-img-left-hide{
      width: 25%;
      display: block;
  }
  .card-right{
      align-items: center;
      justify-content: flex-start;
  }
  .card-title{
      width: 75%;
  }
  .card-name{
      width: 70%;
      font-size: 0.8rem;
  }
  .card-desc{
      line-height: 1.2rem;
  }
  .s-6-about{
      width: 35%;
      gap: 0;
      margin-right: 0;
  }
  .card-img-left{
      width: 30%;
  }
  .a-card-body{
      flex-direction: column;
      padding: 20px;
      gap: 1rem;
  }
  .card-body-img{
      width: 8rem;
      height: 8rem;
  }
  .card-bottom-detail{
      width: 100%;
      height: 80%;
      gap: 1rem;
      align-items: center;
  }
}

















/* Cards Flip Right Section    */
/* 
@font-face {
  font-family: Slussen;
  src: url(/fonts/Slussen-Compressed-Black.woff2) format("woff2");
  font-display: swap;
  font-weight: 900;
  font-stretch: compressed;
}

.cards {
  height: 120vh;


  width: 100%;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-items: center;
  padding-bottom: 50px;
}

.card {
 
  position: absolute;
  width: 95%;
  height: 500px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.card-1 {
 
  top: 0;
}

.card-2 {
  
  top: 20px;
}

.card-3 {
 
  top: 40px;
}

.card-4 {
 
  top: 60px;
}

.card-4 {
  
  top: 80px;
}

.card-5 {
 
  top: 100px;
}

.card-6 {
 
  top: 120px;
}

.card-7 {

  top: 140px;
}



section {
 
  padding: 50px 0px;
  background-color: #f5dcbe;
  width: 100%;
}

.product-overwrap1 {
  position: absolute;
  left: 40px;
  top: 40px;
 
  display: flex;
  gap: 30px;

  flex-flow: column;
}

.product-overwrap2 {
  position: absolute;
  left: 40px;
  
  bottom: 40px;
  
  display: flex;
  

  flex-flow: column;
}


.product-overwrap1 img:nth-child(1) {
  width: 100%;
  object-fit: contain;
  height: 25px;
}

.product-overwrap1 img:nth-child(2) {
  width: 100%;
  height: 100%;
}

.product-overwrap2 img:nth-child(1) {
  width: 100%;

}

.product-overwrap2 span:nth-child(2) {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  font-size: 13px;
}

.product-overwrap2 span:nth-child(3) {
  font-size: 13px;
}

.product-overwrap2 span:nth-child(4) {
  font-size: 15px;
  padding-top: 12px;
}
.product-overwrap2 span:nth-child(5) {
  font-size: 12px;
}
.product-overwrap2 span:nth-child(6) {
  font-size: 12px;
}

.product-overwrap-playbtn button {
  background-color: rgb(0, 0, 0);
  padding: 35px 43px;
  border-radius: 50%;
  position: absolute;
  right: 40px;
  border: none;
  bottom: 40px;
}
.product-overwrap-playbtn i {
  font-size: 30px;
  color: white;
} */





/* Section-7 */
.section-7{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background:  #f5dcbe;
  overflow: hidden;
}

.s-7-cards{
  display: flex;
  position: absolute;
  width: 94%;
  height: 88%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  cursor: pointer;
}

.s-7-bg-img{
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.s-7-card-left, .s-7-card-right{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 2%;
}

.s-7-card-left{
  left: 0;
  justify-content: space-between;
}

.s-7-card-right{
  top: 0;
  right: 0;
  justify-content: flex-end;
  align-items: end;
}

.s-7-card-left-top, .s-7-card-left-bottom{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.s-7-card-left-top{
  gap: 1.5rem;
}

.s-7-card-left-bottom{
  gap: 1.5rem;
  justify-content: space-around;
}

.s-7-product-title{
  width: 40%;
}

.s-7-product-text{
  width: 50%;
}

.s-7-product-name{
  width: 45%;
}

.s-7-product-tagline{
  display: flex;
  font-size: .9rem;
  font-weight: 500;
}

.s-7-product-detail{
  width: 55%;
  display: flex;
  font-size: .7rem;
  font-weight: 500;
  text-align: justify;
  letter-spacing: 1px;
}

.s-7-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
}

.s-7-icon i{
  font-size: 1.5rem;
  color: #ffffff;
  overflow: hidden;
}

.s-7-card-1{
  top: 4%;
  right: 3%;
}

.s-7-card-2{
  top: 12%;
  right: 5%;
}

.s-7-card-3{
  top: 12%;
  right: 7%;
}

.s-7-card-4{
  top: 14%;
  right: 9%;
}

.s-7-card-5{
  top: 16%;
  right: 11%;
}

.detail-black, .tagline-black{
  color: #ffffff;
}

.s-7-card-6{
  top: 18%;
  right: 13%;
}

@media (min-width: 320px) and (max-width: 450px){
  .s-7-card-left{
      width: 65%;
  }
  .s-7-card-left, .s-7-card-right{
      padding: 1.5rem 0 1.5rem 1.5rem;
  }
  .s-7-product-title, .title-black{
      width: 80%;
  }
  .s-7-product-text{
      width: 100%;
  }
  .s-7-product-name{
      width: 90%;
  }
  .s-7-product-tagline{
      font-size: 0.8rem;
  }
  .s-7-product-detail{
      width: 95%;
      font-size: 0.7rem;
  }
  .s-7-icon{
      width: 5rem;
      height: 5rem;
      margin: 0 1rem 1rem 0;
  }
}







/* slider section  */

.slider1 {
  /* height: 90vh; */
  padding: 50px 0px;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: grid;
  width: 100%;
  place-items: center;
  background-color: #f5dcbe;
}
.slide-track1 {
  display: flex;
  width: calc(320px * 22);
  animation: right-slide1 40s linear infinite;
}

.slide1 {
  height: 310px;
  width: 325px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.slide1 img {
  width: 100%;
  border-radius: 18px;
}

.slider1::before {
  left: 0;
  top: 0;
}
.slider1::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

@keyframes right-slide1 {
  0% {
    transform: translateX(calc(-250px * 9));
  }
  100% {
    transform: translateY(0);
  }
}

/* slide section 2 */

.slider2 {
  /* height: 90vh; */
  padding: 50px 0px;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: grid;
  width: 100%;
  place-items: center;
  background-color: #f5dcbe;
}
.slide-track2 {
  display: flex;
  width: calc(320px * 22);
  animation: left-slide2 40s linear infinite;
}

.slide2 {
  height: 310px;
  width: 325px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.slide2 img {
  width: 100%;
  border-radius: 18px;
}

.slider2::before {
  left: 0;
  top: 0;
}
.slider2::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

@keyframes left-slide2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

/* social slider   */

.social-slider {
  width: 100%;
  background-color: #f5dcbe;
  display: flex;
  align-items: center;
}
.social-slider-container {
  width: 85%;
  background-color: #f5dcbe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}

.instagram-social1 {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.instagram-social1 span {
  letter-spacing: -1px;
  /* font-weight: bold; */
  font-size: 12px;
  margin-left: 13px;
}
.instagram-social1 img {
  height: 28px;
  width: 220px;
  margin-right: 10px;
  object-fit: contain;
}

.instagram-social2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.instagram-social2 button {
  background-color: black;
  height: 35px;
  width: 34px;
  border-radius: 50%;
  margin-left: 6px;
  border: none;
}
.instagram-social2 button i {
  color: white;
}
.instagram-social2 img {
  object-fit: contain;
}
.instagram-social2 button {
  transition: background-color 0.3s ease;
}

.instagram-social2 button:hover {
  background-color: white;
}

.instagram-social2 button:hover i {
  color: black;
  transform: translateX(5px);
  transition: transform 0.3s ease;
  font-weight: bold;
}

/* salon section   */
.salon-section {
  padding: 40px 0px;
  width: 100%;
  background-color: #f5dcbe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchImg01 {
  position: absolute;
  height: 72%;
  width: 98%;
  object-fit: contain;
  left: -51%;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.searchImg02 {
  position: absolute;
  height: 103%;
  width: 35%;
  object-fit: contain;
  left: 43%;
  bottom: 60%;
  opacity: 0;
  transition: opacity 0.5s ease;
  /* display: none;/ */
}
.searchImg03 {
  position: absolute;
  height: 49%;
  width: 15%;
  object-fit: contain;
  right: 3%;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.salon-section-card:hover .searchImg03,
.salon-section-card:hover .searchImg01,
.salon-section-card:hover .searchImg02 {
  opacity: 1;
  animation: flyUp 1s ease forwards;
}

@keyframes flyUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.salon-section-card {
  cursor: pointer;
  height: 420px;
  width: 94%;
  background-color: black;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.salon-div1 {
  height: 170px;
  width: 94%;
  display: flex;
  flex-flow: column;

  /* background-color: #f5dcbe; */
}
.salon-div2 {
  height: 137px;
  width: 94%;
  /* background-color: #a89a89; */
  display: flex;
  justify-content: space-between;
}
.salon-div2 span {
  font-weight: bold;
  color: white;
}

.salon-search1 {
  height: 100%;
  width: 60%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;

  justify-content: center;

  /* background-color: white; */
}
.salon-search2 {
  height: 80px;
  /* border: 1px solid black; */
  width: 100%;
  /* padding-top: 20px; */
}
.salon-textImg {
  position: absolute;
  object-fit: contain;
  right: 4%;
  height: 23%;
  width: 12%;
}

.salon-first1 {
  width: 50%;
  height: fit-content;
  display: flex;

  /* border: 1px solid black; */
}
.salon-first1 span {
  font-size: 7.5vw;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.salon-first2 {
  width: 50%;
  height: fit-content;
  /* border: 1px solid black; */
}
.salon-search2 span {
  color: white;
  font-size: 7.5vw;
  margin-left: 175px;
  font-family: "Roboto", sans-serif;
  line-height: 60px;
}
.salon-first2 span {
  color: #fff;
  margin-left: 30px;
}

.salon-font-card {
  width: 50%;
}
.salon-font {
  display: flex;
  flex-flow: column;
  padding-top: 60px;
}

.salon-button button {
  background-color: white;
  padding: 50px 60px;
  border-radius: 50%;
  /* transition: padding 0.1s ease; */
  border: none;
}
.salon-button button i {
  font-size: 40px;
  transition: transform 0.3s ease;
}

.salon-button button:hover {
  padding: 48px 57px;
}

.salon-button button i:hover {
  transform: translateX(20px);
}

/* bottom footer    */

.smart-footer {
  /* height: 70vh; */
  width: 100%;
  background-color: #f5dcbe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smart-footer-card {
  /* height: 50vh; */
  width: 90%;
  display: flex;
  background-color: #f5dcbe;
  justify-content: space-between;
  padding: 30px 0px;
}

.smart-footer-col1 {
  height: 100%;
  width: 35%;
  /* border: 1px solid black; */
}
.smart-footer-col1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.smart-footer-col2 {
  padding-top: 19px;
  height: 70%;
  width: 20%;
  display: flex;
  flex-flow: column;
  /* border: 1px solid black; */
  line-height: 20px;
}
.smart-halftext1 span {
  font-family: "Reddit Sans", sans-serif;
  font-size: 18px;
  display: inline-block;
  transition: transform 0.2s;
  transform-origin: left center;
}

.smart-halftext1 span:hover {
  transform: rotateX(-90deg);
}

.smart-halftext1 {
  display: flex;
  flex-flow: column;
}
.smart-halftext2 {
  padding-top: 30px;
  display: flex;
  flex-flow: column;
}

.smart-halftext2 span {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: black;
}

.halftext-first {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}
.halftext-secound {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}
.halftext-third {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}

.smart-footer-col3 {
  margin-top: 100px;
  height: 50%;
  width: 20%;
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column;
  /* justify-content: space-between; */
}

.demi-text {
  font-size: 28px;
}

.text-footerfirst {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  font-size: 11px;
}

.text-footersecound {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}
.text-footerthird {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}
.text-footerfourt {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  font-size: 11px;
}
.text-footerfourt span {
  font-size: 12px;
}

.halftext-first i:hover {
  animation: moveLeftRight 0.5s infinite alternate;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
.halftext-secound i:hover {
  animation: moveLeftRight 0.5s infinite alternate;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
.halftext-third i:hover {
  animation: moveLeftRight 0.5s infinite alternate;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}

.text-footerfirst i:hover {
  animation: moveLeftRight 0.5s infinite alternate;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
.text-footersecound i:hover {
  animation: moveLeftRight 0.5s infinite alternate;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
.text-footerthird i:hover {
  animation: moveLeftRight 0.5s infinite alternate;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}

/* Responsive Design    */

@media screen and (max-width: 1024px) {
  .image-wrap {
    height: 80vw;
    width: 100%;
  }
  .text-wrap {
    width: 468px;
  }
  .text-card1 {
    line-height: 33px;
  }
  .text-card2 img {
    height: 409px;
    width: 208px;
  }

  .text-card-wrap2 {
    padding-bottom: 85px;
  }
  .card-wrap {
    height: 150px;
    border-radius: 7px;
  }
  .cardItem p {
    line-height: 20px;
    margin-top: 20px;
    font-size: 10px;
  }
  .topic-footer img {
    height: 106px;
    width: 47%;
    border-radius: 7px;
  }

  .topic-footer1 img {
    width: 47%;
    height: 106px;
  }
  .topic-wrap2-img img {
    width: 280px;
  }

  .topic-wrap2-span span {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 500;
  }
  .root-span3 {
    font-size: 11px;
    padding: 12px 23px;
    line-height: 17px;
  }
  .root-card img {
    height: 91px;
    width: 205px;
  }
  .root-span4 {
    font-size: 9px;
    padding: 0px 25px;
    line-height: 16px;
    font-weight: 500;
    padding-bottom: 24px;
  }
  .root-span42 {
    font-size: 9px;
    padding: 1px 58px;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: 27px;
    color: black;
  }

  .root-span41 {
    font-size: 11px;
    padding: 0px 51px;
    line-height: 16px;
    padding-bottom: 28px;
  }
  .brand-consultant {
    padding: 0px;
    width: 90%;
  }
  .brand1 img {
    height: 71%;
    margin-bottom: 7px;
  }
  .brnad2-span span {
    line-height: 21px;
    font-size: 9px;
    padding-bottom: 19px;
    letter-spacing: 1px;
  }

  .brand2 img {
    margin-top: 27px;
  }
  .slide1 img {
    width: 84%;
  }
  .slide2 img {
    width: 84%;
  }

  .slide1 {
    height: 280px;
    width: 320px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .slide2 {
    height: 280px;
    width: 320px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .salon-section-card {
    height: 340px;
  }
  .salon-div2 span {
    font-size: 10px;
  }
  .salon-button button {
    padding: 37px 46px;
  }

  .smart-footer-col2 {
    padding-top: 70px;
  }
}

@media screen and (max-width: 824px) {
  .header img {
    position: relative;
    height: 258px;
    width: 346px;
    bottom: 32px;
    right: 30px;
  }
  .footer-bottom-btn button {
    height: 85px;
    width: 86px;
  }
  .text-card2 img {
    height: 322px;
    width: 174px;
  }

  .text-card-wrap2 img {
    height: 306px;
    width: 242px;
    margin-left: 50px;
  }

  .text-card-wrap1 img {
    height: 389px;
    width: 381px;
  }
  .topic-wrap2-span span {
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 14px;
  }
  .topic-wrap2-img img {
    width: 220px;
  }

  .about-card-sidebar img {
    height: 57%;
    width: 100%;
  }
  .root-card {
    line-height: 25px;
    padding: 0px;
  }
  .root-span3 {
    font-size: 8px;
    padding: 12px 36px;
  }

  .root-span1 {
    font-size: 18px;
  }

  .root-span4 {
    font-size: 8px;
    padding: 0px 20px;
    line-height: 16px;
    font-weight: 500;
    padding-bottom: 24px;
  }

  .root-span42 {
    font-size: 9px;
    padding: 1px 51px;
    line-height: 18px;
    padding-bottom: 25px;
  }

  .root-span41 {
    font-size: 10px;
  }

  .brnad2-profile img {
    height: 97px;
    width: 90px;
    border-radius: 51%;
    object-fit: contain;
  }

  .brand1 img {
    height: 50%;
    margin-bottom: 2px;
    margin-left: 22px;
  }

  .brand2 {
    padding: 0;
  }
  .brnad1 {
    height: 75%;
  }
  .brnad2-span span {
    padding-bottom: 0;
  }

  .brnad2-span {
    padding: 11px 13px;
    display: flex;
    flex-flow: column;
  }

  /* .slide1 img {
  width: 64%;
  border-radius: 10px;
} */

  .salon-first2 span {
    font-size: 11px;
  }
  .salon-button button {
    padding: 22px 33px;
  }
  /* .salon-div2 {
  height: 85px;
  width: 94%;
} */
  .salon-font {
    padding-top: 9px;
  }
  .salon-div2 {
    height: 74px;
  }

  .salon-section-card {
    gap: 16px;
    height: 270px;
  }
  .salon-button button {
    padding: 22px 33px;
    margin: -27px 7px;
  }

  .slide1 img {
    border-radius: 10px;
  }
  .slide2 img {
    border-radius: 10px;
  }
  .slide1 {
    height: 225px;
    width: 225px;
  }
  .slide2 {
    height: 225px;
    width: 225px;
  }
  .slider1 {
    padding: 7px 0px;
  }

  .slider2 {
    padding: 7px 0px;
  }
  .salon-div2 span {
    font-size: 8px;
  }

  .smart-footer-col2 {
    padding-top: 57px;
  }
  .text-footerfirst {
    padding-top: 8px;
    font-size: 11px;
  }

  .text-footerfourt {
    padding-top: 9px;
    font-size: 11px;
  }
  .demi-text {
    font-size: 20px;
  }

  .text-footerthird {
    font-size: 7px;
  }
  .smart-halftext1 span {
    font-size: 15px;
  }
  .smart-halftext2 {
    padding-top: 19px;
  }

  .text-footerfourt span {
    font-size: 8px;
  }

  .smart-halftext2 span {
    font-size: 9px;
    line-height: 13px;
  }
}

@media screen and (max-width: 769px) {
  .header img {
    position: relative;
    height: 257px;
    width: 306px;
    bottom: 59px;
    right: 27px;
  }

  .header span {
    font-size: 16px;
    margin: 52px 40px;
    letter-spacing: 1px;
  }

  .footer-bottom-btn button {
    bottom: 5%;
    height: 150px;
    width: 150px;
    right: 5%;
  }

  .footer-txt1 {
    height: 100%;
    width: 106%;
    object-fit: contain;
    position: absolute;
    left: 5%;
    bottom: 99%;
  }

  .footer-bottom-btn button {
    bottom: 3%;
    height: 70px;
    width: 69px;
    right: 11%;
  }

  

  .text-wrap {
    padding-top: 50px;
    width: 61%;
}

  .text-card1 {
    line-height: 25px;
    font-size: 10px;
  }

  .text-card2 img {
       height: 296px;
        width: 268px;
        position: absolute;
        right: -95px;
  }

  .text-card-wrap2 img {
    height: 316px;
    width: 240px;
    margin-left: 50px;
  }
  .black-media {
    width: 250%;
  }

  .video-wrap {
    overflow: hidden;
  }
  .video-heading {
    top: -0.5%;
    font-size: 6.7vw;

  }

  .play-btn {
    bottom: 2%;
    right: 6%;
    padding: 25px 13px;
    font-size: 14px;
    border-radius: 82px;
  }

  .play-btn-span {
   
    padding: 17px 22px;
    border-radius: 50%;
  }

  .slick-track {
    width: 50%;
    height: 60%;
  }
  .card-wrap-head {
    font-size: 14px;
}
.card-wrap{
  height: 128px;
}

.card-wrap img {
  height: 130px;
  width: 100%;
}
.card-wrap-date{
  font-size: 11px;
}

.cardItem p {
  line-height: 13px;
  margin-top: 13px;
  font-size: 6px;
}

 .topic-footer img{
  width: 48%;
  height: 95px;
 }
 .about-card-sidebar img {
  height: 33%;
  width: 99%;
  margin-top: 34px;
}
.about-card-div {
  width: 100%;
} 
  

  .brand-consultant {
    height: 50vh;
  }

  .brand1 img {
    height: 85%;
    margin-bottom: 2px;
    margin-left: 65px;
    width: 41%;
    object-fit: cover;
}
.brnad2-span span {
  padding-bottom: 0;
  font-size: 6px;
  line-height: 15px;
}
.brand2 img {
  margin-top: 34px;
}
.instagram-social1 img {
  height: 18px;
  width: 166px;

}


}


@media screen and (max-width: 413px) {

  .instagram-social1{
    flex-flow: column;
  }
  .social-slider-container{
    flex-flow: column;
  }
  
  .header span{
    font-size: 16px;
        margin: 30px 30px;
  }
  .header img {
    height: 197px;
    width: 152px;
    bottom: 45px;
    right: 23px;
}

.angle-text{
  display: none;
}

.show-bar-wrap{
  flex-flow: column;
  /* margin-left: 25px; */
  width: 100%;
}
.show-card2 {
  height: 60%;
  width: 30%;

  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.navi_bnarImg img {
  height: 42%;
  width: 100%;
  border-radius: 7px;
  margin-left: 20px;
}
.navi_bnarImg{
  padding-bottom: 32px;
}
.insta-icon {
  display: flex;
  padding-top: 20px;
  margin-left: 0%;
}


.show-card2 span {
  display: flex;
  flex-flow: column;
  color: black;
  line-height: 40px;
  font-size: 8.5vw;
  transition: transform 0.2s;
  transform-origin: left center;
}

.show-angle-card2{
  margin-top: 27px;
  margin-left: 113px;
    
}
.navi-heading {
  display: flex;
  flex-flow: column;
  /* border: 2px solid red; */
  width: 98%;
  margin-left: 9%;
}

.show-card3 {
  height: 61%;
  width: 64%;
  margin-top: 13%;
  /* border: 2px solid black; */
  display: flex;
  flex-flow: column;
  margin-right: 20px;
}




.show-angle-card1 span{
  display: none;
}

.footer-bottom-btn button {
  bottom: 7%;
  height: 38px;
  width: 38px;
  right: 11%;
}
.footer-bottom-btn button i {
  font-size: 12px;
}

.footer-txt2 {
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 500;
        padding: 9px 24px;
        line-height: 18px;
}
.image-wrap{
  display: none;
}

.text-wrap {
  padding-top: 50px;
  width:100%;

}

.text-card2 img {
  height: 299px;
  width: 268px;
  position: absolute;
  right: -158px;
  bottom: 51%;
}

.text-card1 {
  line-height: 34px;
  font-size: 11px;
}

.text-card-wrap1 img {
  left: -233px;
}

.text-card-wrap2 img {
  height: 323px;
  width: 252px;
  margin-left: -114px;
  position: relative;
}

.video-heading {
  display: none;
}
.play-btn-span {
  padding: 14px 17px;
  border-radius: 50%;
}
.video-heading-block{
  display: flex;
  flex-flow: column;
  font-family: "Roboto", sans-serif;
  position: absolute;
  z-index: 999;
  bottom: 10%;
  left: 3%;
  top: -2%;
}

.video-heading-block span {
  font-size: 17vw;

}

.topic-crousal{
  height: 10px;
}
.multiple-items .slick-next {
  display: none !important;
}

.multiple-items .slick-prev{
  display: none !important;
}
.card-wrap{
  height: 135px;
  width: 96%;
  border-radius: 8px;
}
.card-wrap img{
  height: 135px;
}

.cardItem {
  width: 215px !important;
}
.cardItem p {
  line-height: 14px;
  margin-top: 13px;
  font-size: 9px;
}
.topic-footer {
  display: flex;
  padding-top: 50px;
  flex-flow: column;
  align-items: center;
  gap: 35px;
  justify-content: space-between;
}

.topic-footer1 {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;

}
.topic-footer img {
  width: 100%;
  height: 95px;
}
.topic-footer1 img {
  width: 100%;
  height: 106px;
}
.topic-wrap2{
  flex-flow: column;
}

.topic-wrap2-img img {
  width: 278px;
  height: 90px;
}
.topic-wrap2-span {
  width: 80%;
  padding: 2px;
  margin-left: 60px;
}
.topic-wrap2-span span {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 26px;
  font-weight: 500;
}
.topic-wrap-about span {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding-left: 12%;
}

.container{
  width: 85%;
}
.root-card{
  border-radius: 8px;
}

.root-card img {
  height: 53px;
  width: 111px;
}
.about-card-sidebar img{
  display: none;

}
.brand2  img{
  height: 20px;
}
.brand1{
  width: 39%;
}
.brand2{
  width: 45%;
}
.brand1 img {
  height: 60%;
  margin-bottom: 2px;
  margin-left: 51px;
  width: 48%;
  object-fit: cover;
}

.brand2-wrap{
  flex-flow: column;
}
.brand-consultant{
  width: 97%;
}
.brand2 img {
  height: 65px;
  /* padding-right: 73px; */
  width: 100%;
}
.video-heading1 {
  top: 0.5%;
  font-size: 10.5vw;
}
.brnad2-span span {
  padding-bottom: 0;
  font-size: 8px;
  line-height: 15px;
}
.product-overwrap1 img:nth-child(1) {
  width: 47%;
  object-fit: contain;
  height: 12px;
}
.product-overwrap1 img:nth-child(2) {
  width: 70%;
  height: 100%;
}
.product-overwrap2 img:nth-child(1) {
  width: 46%;

}
.product-overwrap2 span:nth-child(3) {
  font-size: 10px;
}

.product-overwrap2 span:nth-child(2) {
  width: 100%;
  height: 100%;
  padding-top: 9px;
  font-size: 9px;
}

.product-overwrap2 span:nth-child(4) {
  font-size: 8px;
  padding-top: 11px;
}


.product-overwrap2 span:nth-child(5) {
  font-size: 8px;
}
.product-overwrap2 span:nth-child(6) {
  font-size: 8px;
}
.product-overwrap-playbtn button {
  background-color: rgb(0, 0, 0);
  padding: 9px 16px;
  border-radius: 50%;
  position: absolute;
  right: 60px;
  border: none;
  bottom: 40px;
}

.product-overwrap-playbtn i {
  font-size: 23px;
  color: white;
}
.slide1 {
  height: 234px;
  width: 234px;
}

.slide2 {
  height: 234px;
  width: 234px;
}

.instagram-social1 {
  flex-flow: column;
  line-height: 33px;
}


.instagram-social1 {
  flex-flow: column;
  line-height: 33px;
}


.salon-section-card {
  gap: 156px;
  height: 580px;
}

.salon-button button {
  padding: 19px 29px;
  margin: -11px 10px;
}


.salon-search2 span {
  color: white;
  font-size: 17.5vw;
  margin-left: 0px;
  font-family: "Roboto", sans-serif;
  line-height: 75px;
}
.salon-first1 span {
  font-size: 17.5vw;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin-left: -50px;
}
.salon-textImg {
  position: absolute;
  object-fit: contain;
  right: 5%;
  height: 14%;
  width: 21%;
}

.salon-first2{
  display: none;
}

.salon-div2 span{
  font-size: 14px;
}

.smart-footer-card{
  flex-flow: column;

}
.smart-footer-col1 {
  height: 100%;
  width: 100%;
}


.smart-footer-col2 {
  padding-top: 57px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.smart-halftext1 span {
  font-size: 24px;
  line-height: 39px;
}

.smart-halftext2 span {
  font-size: 14px;
  line-height: 21px;
}

.smart-footer-col3{
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}

.smart-halftext1 {
  display: flex;
  flex-flow: column;
  width: 50%;
}
.smart-halftext2 span {
  font-size: 22px;
  line-height: 32px;
}
.demi-text {
  font-size: 26px;
}

.text-footerfirst {
  padding-top: 8px;
  font-size: 17px;
}
.text-footersecound {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
}


.text-footerthird {
  font-size: 22px;
}

.halftext-first{
  align-items: center;
  
}

.halftext-secound {
  align-items: center;
}

.halftext-third {
  align-items: center;
}
 .show-card1 .autoplay{
  display: none;
}

.logo span {
  font-size:35px;
  color: rgba(0, 0, 0, 0.711);
}

.logo.is-animetion span {
  animation: wave-text 1.5s ease-in-out infinite;
}

.img {
  height: 82vw;
}


}